html {
  width: 100%;
  height: 100%;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: -webkit-linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
  background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
}

body {
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.returnWrapper {
  height: 100%;
  display: inline-block;
  margin: none;
}

.returnToSearch {
  height: 100%;
  width: 100%;
  background-color: #4747ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

.resultTitle {
  margin: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-decoration: underline;
  font-weight: bold;
}

.returnLink {
  text-decoration: none;
  color: white;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile_wrapper {
  width: 100%;
  height: 100%;
}



.tile_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(400px, 100%/5.5), 1fr));
  justify-content: center;
  grid-gap: 30px;
  margin: 2%;
}


.tile_container {
  padding: 2% 0%;
  max-width: 500px;
  position: relative;
  background: #FFFFFF;
  width: 100%;
  height: 500px;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
}

.tile_top {
  height: 65%;
}

.carousel {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}



.image_container {
  scroll-snap-align: start;
  flex-grow: 1; /* make the image container take up as much space as possible */
  flex-shrink: 0; /* keep the image size the same */
  width: 100%;
  height: 100%;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.tile_nav_wrapper {
  height: 20%;
  align-items: center;
}


.tile_nav {
  text-align: center;
  display: block;
  padding: calc((20% - 20px)/4) 0px;
}

.nav_dot {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: none;
  background: black;
  opacity: 0.5;
  display: inline;
  cursor: pointer;
  margin: 0px 5px;
}

.nav_dot.active {
  background: black;
  opacity: 1;
}

.tile_bottom {
  height: 34%;
  width: 94%;
  padding: 3%;
  padding-top: 0px;
}

.descriptionTitle {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.descriptionText {
  text-align: justify;
  font-size: 16px;
}

img {
  width: 100%;
  height: 100%;
  align-self: center;
}

video {
  width: 100%;
  height: 100%;
  align-self: center;
}

.play_button_wrapper {
  height: 100%;
  width: 100%;
}

.video_container {
  text-align: center;
  width: 90%;
  height: 90%;
  margin: 5%;
}

.play-icon {
  height: 50%;
  width: 50%;
  font-size: fit-content;
  display: block;
}

